
<script>
  $(document).ready(function(){
        $("#more-info").on('click', function(event) {
          $.scrollify.next();
        });
      });
</script>
<div class="index-scroll" style="background-image: url('bg-1.jpg'); background-size: cover; height: 100%;">
    <div class="container">
      <%= render 'layouts/navbar'%>
    </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3>Global Warming and Climate Change</h3>
            <p>are becoming the most prominent, up and coming issues that our generation will have to deal with.</p>
            <p>Many people are ignoring this issue, and our goal is to increase awareness for this issue.</p>
            <p><%= link_to "OUR MISSION", our_mission_path, class:"btn btn-primary"%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a href = "#index-scroll" id="more-info" class="btn btn-primary">More Info</a>
    </div>
  </div>
</div>
<div class="index-scroll" id = "index-scroll" style="background-image: url('bg-2.jpg'); background-size: cover">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron" style="margin-top: 11%;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3>How can YOU help?</h3>
            <p>It's simple, just make smarter, informed decisions.</p>
            <div class="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
