<!DOCTYPE html>
<html>
<head>
  <title>ArProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $(function() {
      (function($){})(jQuery);
      $.scrollify({
        section: ".index-scroll",
        scrollbars: false,
        easing: "swing",
        setHeights: true,
        scrollSpeed: 1350,
      });
      $.scrollify.update();
    });
  </script>
</head>
<body>
    <%= yield %>
</body>
</html>
